.row
  .span12
    %p=@me.about

.row
  .span3
    %h3.title Likes
    -@me.interests.each do |like|
      .row
        .span3
          %p
            %strong=like.value
          %p
            %span=like.description
  .span6
    %h3.title Apps
    - @me.urls.each do |app|
      .row
        .span2
          %a{:href=> app.value}
            %img.app_avatar{:src=>app.avatar}
        .span4
          %p
            %a{:href=> app.value}=app.name
          %p=app.description

  .span3
    %h3.title Advice
    -@me.stuff_i_say.each do |stuff|
      .row
        .span3
          %p
            %strong=stuff.i_say
          %p
            %span=stuff.why

