%html{'xmlns:og'=>"http://ogp.me/ns#"}
  %head
    %title
      = @title
    %meta{:property => 'og:title', :content => @title}
    %meta{:property => 'og:type', :content => 'profile'}
    %meta{:property => 'og:image', :content => @image}
    %meta{:property => 'og:url', :content => @full_url}
    %meta{:property => 'og:description', :content => @description}
    %meta{:prefix=>"fb:http://ogp.me/ns/fb#", :property => "fb:app_id", :content=> @appid}
    %link{:rel=>'stylesheet', :href=>'/stylesheets/bootstrap.min.css', :type => "text/css"}
    %link{:rel=>'stylesheet', :href=>'/stylesheets/style.css', :type => "text/css"}
    %style
      a.cp-chat-button { display: 'none'}
  %body
    #fb-root
    :javascript
      (function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) return;
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=#{@appid}";
       fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    .content.container
      =yield
      .fb-like{"data-href" =>@full_url, "data-send" => "true", "data-show-faces" => "true", "data-width" => "450"}