
/*a {*/
    /*text-decoration: none;*/
    /*color: #5555ff;*/
/*}*/

/*strong {*/
    /*color: #ff00cb;*/
/*}*/


body {
    background: #fff url(/images/bg-plain-strip-2.png) left;
    color: #333;
}

.first-hero {
   background-color: transparent;
}

.avatar {
    border-radius: 3px;
    width:60px;
    height:60px;
    border: solid 3px white;
}

.app_avatar {
   border: none;
    width: 150px;
}

.first-hero {
    padding: 40px;
    text-align: center;
}

h3.title, .first-hero {
    margin-bottom: 15px;
}
